---
import { formatPostDate } from '$/utils'
import type { Frontmatter } from '$/types'
import Tag from '$/components/elements/Tag.astro'

interface Props {
  post: Frontmatter
}
const { post } = Astro.props

let postTitlePrefix = ''
switch (post.media) {
  case 'note':
    postTitlePrefix = '（note記事）'
    break
  case 'qiita':
    postTitlePrefix = '（Qiita記事）'
    break
  case 'zenn':
    postTitlePrefix = '（Zenn記事）'
    break
}
---

<li class="post-preview">
  <div class="post-preview__externalUrl"></div>
  <h2 class="post-preview__title" transition:name={`title:${post.link}`}>
    <a
      href={post.media === 'owned' ? `/blog/${post.link}` : post.link}
      title={post.title}
      target={post.media === 'owned' ? '' : '_blank'}
    >
      <span>{postTitlePrefix}</span>
      {post.title}
    </a>
  </h2>
  <div
    class:list={[
      'text-right mt-3',
      post.tag && 'flex justify-between items-center',
    ]}
    transition:name={`date:${post.link}`}
  >
    {post.tag && <Tag name={post.tag} />}
    <span class="post-preview__date">{formatPostDate(post.pubDate)}</span>
  </div>
</li>
<style>
  .post-preview {
    @apply rounded-lg border-gray-300 dark:border-gray-700 border-[1px] dark:bg-theme-wave-dark  p-4 flex flex-col justify-between;
  }
  .post-preview__title {
    @apply mt-3 md:text-lg font-bold hover:underline text-base;
  }

  .post-preview__date {
    @apply text-xs text-right self-end;
  }
</style>
