---
import type { CollectionEntry } from 'astro:content'
import MainLayout from '$/components/layouts/MainLayout.astro'
import BaseHead from '$/components/layouts/BaseHead.astro'
import Prose from '$/components/elements/Prose.astro'
import { extractExcerptFromBody, formatPostDate } from '$/utils'
import TagIcon from '$/components/elements/TagIcon.astro'
import { SITE } from '$/config'
import Tag from '$/components/elements/Tag.astro'

interface Props {
  entry: CollectionEntry<'owned'>
}
const { entry } = Astro.props
---

<!DOCTYPE html>
<html lang={SITE.lang}>
  <head>
    <BaseHead
      title={`${entry.data.title} | ${SITE.name}`}
      description={await extractExcerptFromBody(entry.body)}
    />
  </head>
  <MainLayout isPostPage>
    {
      entry.data.tag && entry.data.tag !== 'other' && (
        <TagIcon tag={entry.data.tag} link={entry.slug} size="large" />
      )
    }
    <div class="post__header">
      <div class="post__title-wrapper">
        <h1 class="post__title" transition:name={`title:${entry.slug}`}>
          {entry.data.title}
        </h1>
      </div>
      <div class:list={['post__info', entry.data.tag && 'has-tag-list']}>
        {entry.data.tag && <Tag name={entry.data.tag} />}
        <span class="post__date">
          {formatPostDate(entry.data.pubDate)}
        </span>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
  </MainLayout>

  <style>
    .post__header {
      @apply py-4 mb-1 text-center md:text-left;
    }
    .post__title-wrapper {
      @apply flex justify-center;
    }
    .post__title {
      @apply text-xl md:text-3xl text-left font-extrabold mt-5;
    }
    .post__info {
      @apply text-right mt-3;
      &.has-tag-list {
        @apply flex justify-between items-center;
      }
    }
    .post__date {
      @apply md:text-sm text-xs;
    }
    .post__tag-list {
      @apply flex justify-center;
    }
  </style>
</html>
